<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <center>
    <h1>SignUp</h1>
    <form action="/user" method="POST">
        <label>
        full name
        <input type="text" required placeholder="enter your name" name="name"/>
        </label>

         <label>
        email
        <input type="email" placeholder="enter your email" name="email"/>
        </label>

         <label>
        password
        <input type="password" placeholder="enter your password" name="name"/>
        </label>
      <button type="submit">sumbit</button>
    </form>
    </center>
</body>
</html>